$spacing-0: 0;
$spacing-2: 2px;
$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-14: 14px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;

// Semantic
$spacing-page: $spacing-20;
$spacing-widget: $spacing-20;
$spacing-control-y: $spacing-8;
$spacing-control-x: $spacing-12;
$spacing-section-gap: $spacing-20;
