@use './semantic-colors' as *;
@use './typography' as *;

@mixin typography-style($font-family, $font-size, $font-weight, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

// Body
@mixin body-sm() {
  @include typography-style(
      $body-sm-font-family,
      $body-sm-font-size,
      $body-sm-font-weight,
      $body-sm-line-height,
  );
}

@mixin body-md() {
  @include typography-style(
      $body-md-font-family,
      $body-md-font-size,
      $body-md-font-weight,
      $body-md-line-height,
  );
}

// Title Primary
@mixin title-primary-md() {
  @include typography-style(
      $title-primary-md-font-family,
      $title-primary-md-font-size,
      $title-primary-md-font-weight,
      $title-primary-md-line-height,
  );
}

@mixin title-primary-lg() {
  @include typography-style(
      $title-primary-lg-font-family,
      $title-primary-lg-font-size,
      $title-primary-lg-font-weight,
      $title-primary-lg-line-height,
  );
}

// Label Primary
@mixin label-primary-sm($weight: $label-primary-sm-font-weight-regular) {
  @include typography-style(
      $label-primary-sm-font-family,
      $label-primary-sm-font-size,
      $weight,
      $label-primary-sm-line-height,
  );
}

@mixin label-primary-md($weight: $label-primary-md-font-weight-regular) {
  @include typography-style(
      $label-primary-md-font-family,
      $label-primary-md-font-size,
      $weight,
      $label-primary-md-line-height,
  );
}
